<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FitnessApp"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <receiver
            android:name=".presentacion.notificaciones.NotificacionReceiver"
            android:exported="false"/>
        <activity
            android:name=".presentacion.menu.Perfil.Editar"
            android:exported="false"
            android:theme="@style/Theme.FitnessApp" />
        <activity
            android:name=".presentacion.menu.Perfil.EditarPerfilActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.menu.Rutinas.CrearRutinaActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.menu.Rutinas.MenuEjerciciosActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.menu.Dietas.AnhadirIngredienteActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.menu.Dietas.MenuIngredientesActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.menu.Dietas.CrearDietaActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.menu.Dietas.MenuAlimentosActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.autentification.NivelActividadActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.autentification.ObjetivosActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.autentification.BienvenidaRegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.menu.MenuPrincipalActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.autentification.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.autentification.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".presentacion.autentification.MainActivity"
            android:exported="true" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>